/* Map */

#map{
    margin: 10px;
    height: 300px;
    width: 1350px;
    border: solid 1px;
    text-align: left;
    overflow: hidden;
    position: absolute !important;
}

.collapsed {
    height: 24px !important;
}

.mapWidgetInterior {
    margin: 5px;
    border: solid 1px;
    height: 94%;
    background: darkgrey;
}

.header {
    margin: 0 0 5px;
}

/* Video */

#video{
    margin: 10px;
    height: 300px;
    width: 150px;
    border: solid 1px;
    text-align: left;
    position: absolute !important;
    background: white;
    top: 310px;
    overflow: hidden;
}

.videoWidgetInterior {
    margin: 5px;
    border: solid 1px;
    height: 100px;
    background: darkgrey;
}

.videoOverflow {
    overflow:auto;
    height: 100%;
}

/* Chat */

#chat {
    margin: 10px;
    height: 300px;
    width: 250px;
    border: solid 1px;
    text-align: left;
    position: absolute !important;
    background: white;
    top: 310px;
    left: 170px;
    overflow: hidden;
}

.chatWidgetInterior {
    margin: 5px;
    border: solid 1px;
    height: 310px;
    background: darkgrey;
    overflow: auto;
}

/* Turn Order */

#turn {
    margin: 10px;
    height: 300px;
    width: 150px;
    border: solid 1px;
    text-align: left;
    position: absolute !important;
    background: white;
    top: 150px;
    right: 50px;
    overflow: hidden;
}

.turnWidgetInterior {
    margin: 5px;
    border: solid 1px;
    height: 100px;
    background: darkgrey;
}

.turnOverflow {
    overflow:auto;
    height: 100%;
}

/* Widget Icons */

.widgetIconCollapse {
    content:url("../open-iconic/svg/chevron-top.svg");
    margin-right: 10px;
    float: right;
    clear: right;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.widgetIconExpand {
    content:url("../open-iconic/svg/chevron-bottom.svg");
    margin-right: 10px;
    float: right;
    clear: right;
    height: 20px;
    width: 20px;
}
