.collapsed {
    height: 24px !important;
}

.widgetInterior {
    margin: 5px;
    border: solid 1px;
    background: darkgrey;
}

.widgets {
    margin: 10px;
    border: solid 1px;
    text-align: left;
    position: absolute !important;
    background: white;
    overflow: hidden;
}

.header {
    margin: 0 0 5px;
}

.zIndex {
    z-index: 10;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.icon {
    height: 100px;
    width: 100px;
    margin: 5px;
}

/* Map */

#map{
    height: 300px;
    width: 1350px;
}

#mapInterior {
    height: 94%;
}

/* Video */

#video{
    height: 300px;
    width: 150px;
    top: 310px;
}

.videoOverflow {
    overflow:auto;
    height: 100%;
}

.videoIcon {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

/* Chat */

#chat {
    height: 300px;
    width: 250px;
    top: 310px;
    left: 170px;
}

#chatInterior {
    height: 200px;
    margin: 5px;
    overflow: auto;
}

#chatBody {
    padding: 5px;
}

#textBox {
    margin: 5px;
    width: 96%;
}

#chatButton {
    float: right;
    margin: 0 5px;
}

span {
    margin-top: 5px;
    display: none;
}

/* Turn Order */

#turn {
    height: 300px;
    width: 200px;
    top: 150px;
    right: 50px;
}

#active {
    border: solid darkred 2px;
}

#turnOverflow {
    overflow:auto;
    height: 100%;
}

.name{
    padding-top: 5px;
}

/* Dice Roller */

#dice{
    height: 200px;
    width: 800px;
    top: 310px;
    right: 100px;
}

#diceInterior {
    height: 84%;

}

#character{
    height: 300px;
    width: 1350px;
    top: 350px;
}

#characterInterior{
    height: 88%
}

/* Widget Icons */

.widgetIconCollapse {
    content:url("../open-iconic/svg/chevron-top.svg");
    margin-right: 10px;
    float: right;
    clear: right;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.widgetIconExpand {
    content:url("../open-iconic/svg/chevron-bottom.svg");
    margin-right: 10px;
    float: right;
    clear: right;
    height: 20px;
    width: 20px;
}
