.collapsed {
    height: 24px !important;
}

.widgetInterior {
    margin: 5px;
    border: solid 1px;
    background: darkgrey;
}

.widgets {
    margin: 10px;
    border: solid 1px;
    text-align: left;
    position: absolute !important;
    background: white;
    overflow: hidden;
}

.header {
    margin: 0 0 5px;
}

.zIndex {
    z-index: 10;
}

/* Map */

#map{
    height: 300px;
    width: 1350px;
}

#mapInterior {
    height: 94%;
}

/* Video */

#video{
    height: 300px;
    width: 150px;
    top: 310px;
}

#videoInterior {
    height: 100px;
}

.videoOverflow {
    overflow:auto;
    height: 100%;
}

/* Chat */

#chat {
    height: 300px;
    width: 250px;
    top: 310px;
    left: 170px;
}

#chatInterior {
    height: 310px;
    overflow: auto;
}

/* Turn Order */

#turn {
    height: 300px;
    width: 150px;
    top: 150px;
    right: 50px;
}

#turnInterior {
    height: 100px;
}

.turnOverflow {
    overflow:auto;
    height: 100%;
}

/* Dice Roller */

#dice{
    height: 200px;
    width: 800px;
    top: 310px;
    right: 100px;
}

#diceInterior {
    height: 84%;

}

#character{
    height: 300px;
    width: 1350px;
    top: 350px;
}

#characterInterior{
    height: 88%
}

/* Widget Icons */

.widgetIconCollapse {
    content:url("../open-iconic/svg/chevron-top.svg");
    margin-right: 10px;
    float: right;
    clear: right;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.widgetIconExpand {
    content:url("../open-iconic/svg/chevron-bottom.svg");
    margin-right: 10px;
    float: right;
    clear: right;
    height: 20px;
    width: 20px;
}
